
# for neural network examples
argparse
http.server
threding
webbrowser

cv2
torch
torchvision
numpy
collections
sys
os
time
matplotlib
visdom


# For declarative query 
pyyaml


# for visualization
cv2

