# Library dependencies for the Pytorch-iAlgebra code. You need to install these by:
# 'pip isntall -r requirements.txt'


### LIBRARIES FOR USER INTERFACE SERVER ###
argparse
httpserver
threding
webbrowser


### LIBRARIES FOR PYTORCH-IALGEBRA FUNCTIONS ###
os
sys
pyyaml
numpy
tqdm
collections
cv2
torch
torchvision
matplotlib
visdom
